  
Click==7.0
Flask==1.0.2
Flask-PyMongo==2.2.0
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
WTForms==2.2.1
WTForms-Dynamic-Fields==0.1a3
Werkzeug==0.14.1
flake8==3.6.0
itsdangerous==1.1.0
mccabe==0.6.1
pycodestyle==2.4.0
pyflakes==2.0.0
pymongo==3.7.2
redis==3.0.1

