.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px 5px 5px;
    
}

.recipe_header {
    margin-top: 10px;
}



@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }}