<!DOCTYPE html>
<html>
<head>
  
  
<style>
div.background {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_xcxwMVgB7AtcvL154v9nWi4LDFs2MZ24J4LHFe_NTHGCCOrt&s) repeat;
  border: 2px solid black;
  
}

div.river {
  margin: 100px;
  background-color: #ffffff;
  border: 2px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

div.river p {
  margin: 50%;
  font-weight: bold;
  color: blue;
}
</style>
</head>
<body>

<div class="background">
  <div class="river">
    <div><b><ul class="right hide-on-med-and-down">
                {% if session.username %}
                <li>Hello, {{ session.username }}!</li>
                {% endif %}
                {% if not session.username %}
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
                {% else %}
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                {% endif %}
                </ul></b></div>
  </div>
</div>

</body>
</html>







