{% extends 'base.html'%}

{% block content %}

<div class="background">
  <div class="river">
    <div><b><ul class="right hide-on-med-and-down">
                {% if session.username %}
                <li>Hello, {{ session.username }}!</li>
                {% endif %}
                {% if not session.username %}
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
                {% else %}
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                {% endif %}
                </ul></b></div>
  </div>
</div>

{% endblock %}







