{% extends 'base.html'%} {% block content %}
<div class="container">
   <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
            <div class=" recipe_header col s9">
                    <b></p> <strong>{{recipe.recipe_name}}</strong> -{{recipe.recipe_name}}</b>
            </div>
            
            <div class="col-sm-12 ">
                <p><b>Author</b>: {{recipe.author}}</p>
            </div>
            <div class="col-sm-12 ">
                <p><b>recipe</b>: {{recipe.preparation}} </p>
            </div>
       
            <div class="col-sm-12 ingredients_padding">
                <p class="text_format"><b>Ingredients</b>: {{recipe.ingredients}}</p>
            </div>
            <div class="col-sm-12">
                <p class="text_format"><b>Allergens</b>: {{recipe.allergens}}</p>
            </div>
            <div class="col-sm-12">
                <img src="static/images/photo.jpg" alt="Food" height="42" width="42">
            </div>
         <div class="col-sm-12">   
        {% if recipe.author == session["username"] %}
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
            </div>        
        {% endif %}
         </div>
        {% endfor %}
    </ul>
</div>  


{% endblock %}





