{% extends "base.html" %}
{% block content %}

<section class="container space">
    <div>
          <h1>Search for a burger</h1>
      </div>
    <div id="search" class="open bg4 padding3">
            
            <form action='{{url_for("search_recipes")}}' method="POST">
                    <input id="search" name='search'type="search" class="validate"  placeholder="search your recipe">
                    <button class="btn btn-info btn-lg btn-site text-center " type="submit"><i class="material-icons prefix">search</i>Search</button>
            </form>
            </div>
    {% for recipes in recipes %}
    <div class="row space">
        <div class="col s12 text-center">
            <a style="text-decoration: none; color: Black;" href="{{url_for('show_recipes',recipes_id=recipes._id)}}">
            
                <h4>{{recipes.name}}</h4>
            </a>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}